.mainTitle {
    font-weight: 400;
    color: black;
}

.mainTitle::before,
.mainTitle::after {
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    color: red;
}

.blogdate {
    text-align: start;
    opacity: 0.7;
}

.blogHead {
    text-align: start;
    text-transform: uppercase;
}

.customCard {
    width: 95%;
    max-width: 100%;
    margin: 0 auto;
}

.customCard img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.custom-slider {
    position: relative;
}

/* Adjusted hover effect */
.custom-slider:hover .custom-arrow {
    visibility: visible;
}

.custom-arrow {
    height: 30px;
    width: 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    z-index: 1;
    visibility: hidden;
    background-color: rgb(245, 242, 242);
}

.custom-prev-arrow {
    position: absolute;
    left: -10px;
    opacity: 1;
}

.custom-prev-arrow::before,
.custom-next-arrow::before {
    opacity: 1 !important;
    line-height: 1.5;
    color: rgba(253, 87, 16, 0.866);
}

.custom-prev-arrow:hover::before,
.custom-next-arrow:hover::before {
    opacity: 1;
    color: rgb(245, 242, 242);
    line-height: 1.5;
    border-radius: 50%;
}

.custom-next-arrow {
    position: absolute;
    right: 2px;
    /* Adjusted from 2px to align with media query */
    opacity: 1;
}

.custom-prev-arrow:hover,
.custom-next-arrow:hover {
    background-color: rgba(253, 87, 16, 0.866);
}

.latest-blog-heading {
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    /* Adjust as needed */
}


/* Media query adjustment */
@media (min-width:300px) and (max-width:375px) {
    .custom-next-arrow {
        right: -8px !important;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .custom-next-arrow {
        right: 2px !important;
    }
}