.devmind-lower-footer .lower-footer-list .lower-footer-item {
    border-block-end: 0px solid rgba(5, 5, 5, 0.06) !important;
    padding: 6px 0 !important;
    /* color: #666; */
    font-size: 107.69%;
  }

  .devmind-lower-footer .lower-footer-list .lower-footer-item:hover{
    color:var(--theme-color-text);
  }

  .devmind-lower-footer .lower-footer-heading{
    font-weight: bold;
  }