:root {
  --theme-color_1: #000000;
  --theme-color_2:#191919;
  --theme-color_3: #323232;
  --theme-color_4:#4c4c4c;
  --theme-color_5: #666666;
  --theme-color_6:#7f7f7f;
  --theme-color_7: #999999;
  --theme-color_8:#b2b2b2;
  --theme-color_9:#cccccc;
  --theme-color_10:#e5e5e5;
  --theme-color-text:#ff2d37;

}
