.hero-main {
    margin-top: 70px;
    display: flex;
    /* background-color: lightgrey; */
}

.left-content {
    position: relative;
    width: 60%;
}

.name-title {
    color: rgb(237, 129, 35);
}

.view-btn {
    height: 40px;
    /* width: 100px; */
    border: none;
    border-radius: 5px;
    background: orange;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 10px 0 10px;
}

.view-btn:hover {
    border: 2px solid rgb(101, 253, 240);
    background-color: black;
    color: orange;
}

.right-content {
    width: 40%;
}

.hero-img-style {
    border: 2px solid rgb(237, 129, 35);
    border-radius: 50%;
    height: 350px;
    margin-top: 50px;
}

.describe {
    position: absolute;
    top: 25%;
    left: 25%;
}

@media screen and (max-width:425px) {
    .hero-main {
        flex-wrap: wrap;
        row-gap: 300px;
    }

    .hero-img-style {

        height: 250px;
    }

    .left-content {
        width: 100%;
    }

    .right-content {
        display: flex;
        justify-content: center;
        width: 100%;

    }
}