:where(.css-dev-only-do-not-override-42nv3w).ant-list-split .ant-list-item {
    border-block-end: 0px solid rgba(5, 5, 5, 0.06);
    font-weight: 400;
    font-size: 107.69%;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-list-split .ant-list-item:hover {
    color: red;
}


.footerheading {
    font-weight: bold;
    color: white;
}

.footerheading:hover {
    color: red;
}

.lowerfooterstyle {
    background-color: black;

}