*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btnn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 25px;
    width: 30px;
}
.email{
    text-align: center;
    font-size: 15px;
}
.address{
    text-align: center;
}
.number{
    text-align: center;
}
.cservice{
    text-align: center;
    /* font-size: 50px; */
}

.footer{
    /* background-color: rgb(173, 156, 156); */
    /* background-color: rgb(51, 57, 57); */
    background-color: #000000eb;
    padding: 5px;
    color: white;
}
.store{
    margin-top: 5px;
}
.storebullet{
    font-size: 14px;
    line-height: 0;
}
.btnn:hover{
    background-color: black!important;
    color: white!important;
}
.yutube{
    background-color: red!important;
    border: none;
    color: white!important;
}
.facebook{
    background-color: blue!important;
    border: none;
    color: white!important;
}
.insta{
    background-color: rgb(214, 35, 65)!important;
    border: none;
    color: white!important;
}

.footerheadingstyle{
    margin-top: 24%!important;
}

.footerheadingstyle2{
    margin-top: 15%!important;
}