* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.devminds-goalhead {
    text-align: var(--textalignall);
    font-size: var(--fontsizetitle);
}

.devminds-goalhead-2 {
    text-align: var(--textalignall);
    font-size: var(--fontsizeall);
    font-family: var(--fontfamilyall);
    font-weight: var(--fontweightall);
    font-style: var(--fontstyleall);
}

.devminds-focus {
    text-align: var(--textalignall);
    font-size: 22px;
}

.devminds-audbtn {
    text-align: var(--textalignall);
}

.devminds-textfind {
    font-size: larger;
}

.devminds-audience {
    background: var(--buttonBgcolor) !important;
    color: var(--whitecolor);
    border-radius: 10px !important;
    text-transform: capitalize !important;
    font-size: var(--buttontextfontsize) !important;
    height: var(--buttonheight);
    width: var(--buttonwidth);
}

@media (max-width:768px) {
    .devminds-goalhead-2 {
        line-height: 64px;
    }
}