.about-container {
  padding: 50px;
}

.about-header {
  text-align: center;
}

.maindiv-about {
  background-color: #ececec;
}

.about-title {
  margin-bottom: 16px;
  font-size: 36px;
}

p {
  font-size: 17px;
}

.about-subtitle {
  margin-bottom: 32px;
  font-size: var(--fontsizeall);
  font-family: var(--fontfamilyall);
  font-weight: var(--fontweightall);
}

.about-description {
  margin-bottom: 32px;
}

.about-card {
  margin-bottom: 16px;
  height: 437px;
}

.experience-container {
  text-align: center;
  margin-top: 20px;
}

.experience-box {
  display: inline-block;
  padding: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.experience-years {
  margin: 0;
}

.devminds-textfind {
  font-size: 13px;
}

@media (max-width:768px) {
  .about-subtitle {
    margin-bottom: 32px;
    font-size: 32px;
    font-family: var(--fontfamilyall);
  }

  .about-card {
    margin-bottom: 16px;
    height: auto;
  }
}