.swiper {
    width: 100%;
    height: 600px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mySwiper .swiper-pagination-bullet {
    background-color: white;
    /* Sets non-active bullets to white */
    opacity: 0.6;
    /* Optional: lower opacity for a softer look */
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: #007aff;
    /* Adjust this to match your active color */
    opacity: 1;
    /* Fully opaque for better visibility */
}

/* Styling the next arrow */
.mySwiper .swiper-button-next {
    color: white;
    /* Set the arrow color here */
}

/* Styling the previous arrow */
.mySwiper .swiper-button-prev {
    color: white;
    /* Set the arrow color here */
}

/* Optional: Hover effect */
.mySwiper .swiper-button-next:hover,
.mySwiper .swiper-button-prev:hover {
    color: #007aff;
    /* Change color on hover */
}

@media screen and (max-width:768px) {
    .swiper {
        width: 100%;
        height: 100%;
    }
}
