.devminds-shopprovides {
    font-size: var(--fontsizetitle);
}

.devminds-shopprovidestitle {
    font-family: var(--fontfamilyall);
    font-family: var(--fontfamilyall);
    font-weight: var(--fontweightall);
    font-style: var(--fontstyleall);
    font-size: var(--fontsizeall);
    line-height: 45px;
}

.devminds-shopprovidesparegraph {
    font-size: var(--paregraphfontsize);
    /* padding: 20px; */
    margin-bottom: 80px;
}

.devminds-CallNobutton {
    justify-content: flex-start !important;
    width: 100%;
    display: flex;
}

.devminds-Rbimageset {
    width: 100%;
    border-radius: 25px;
    margin-top: 10px;
    /* transition: box-shadow 0.3s ease; */
}

.devminds-Rbimageset:hover {
    box-shadow: 3px 2px 6px 1px rgb(165, 163, 163);
    /* transform: scale(1.1); */
}