:root {
    /* --bg-color: rgb(231, 151, 151); */
    --bg-color: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
    --bg-dropdwn: rgb(86 86 86);
    --bg-lightColor: #ffffff21;
    --bg-lightColorSkill: rgba(15, 13, 13, 0.129);
    --text-color: white;
    --myName: orangered;
    --textOnhover: #0afcf4cf;
    --navBorder: #0afcf4cf;
    --navShadow1: rgb(51 237 219 / 48%);
    --navShadow2: rgb(169 232 226 / 80%);
    --socialColor: #6fede4;
    --letterSpacingbig: 2px;
    --letterSpacing: 1px;
    --aboutGredient: #294861;
    --stepperColor: rgb(172, 106, 242);
    --contactBg: #ffffff22;
}