.devmind-mobile-header .mobile-header-logo-block .mobile-header-image{
    width: 100%;
    /* padding: 0px 13px; */
    padding: 4px 0px 10px 10px;
}

.devmind-mobile-header .mobile-header-logo-block{
    display: none;
}

.devmind-mobile-header .mobile-header-drawer-block{
    display: none;
}

@media (max-width:768px) {
    .devmind-mobile-header .mobile-header-logo-block{
        display: block;
    }
    
    .devmind-mobile-header .mobile-header-drawer-block{
        display: block;
        text-align: end;
        /* margin-right: 30px; */
        padding: 0px 9px 0px 0px;
        margin-top: 10px;
        /* margin-top: 30px; */
    }
    .devmind-mobile-header .mobile-header-drawer-block .mobile-header-button{
        background-color: var(--theme-color-text);
        color: white;
        border: none;
    }
}


 .ant-menu-light .ant-menu-item-selected {
    background-color: #ff3232 !important;
}

.ant-menu-light .ant-menu-item-selected,
:where(.css-dev-only-do-not-override-17seli4).ant-menu-light > .ant-menu .ant-menu-item-selected {
    color:var(--theme-color_1) !important;

}

/* Add any other custom styles here */
.menu-item-gap {
    margin-bottom: 10px; /* Example custom gap */
}

.ant-menu-light .ant-menu-item-selected a{
    text-decoration: none;
}

.ant-menu-light .ant-menu-item a{
    text-decoration: none;

}

.devmind-mobile-header{
    position: sticky;
    z-index: 1000;
    top: 0px;
    width: 100%;
    background: white;
    transform: translateY(0);
    transition: opacity .5s ease-in-out;
}



@media (max-width:768px) and  (min-width:262px) {
    .mobile-header-image {
        width: 58% !important;
        padding: 9px 0px 10px 10px !important;
    }
}

@media (max-width:320px) and  (min-width:262px) {
    .mobile-header-image {
        width: 71% !important;
        padding: 9px 0px 12px 13px !important;
        height: 54px;

    }
}